@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
.rating {
    position: relative;
    display: flex;
    width: 2.875rem;
    height: 2.875rem;
    margin-top: -1.75rem;
    margin-left: 0.75rem;
    justify-content: center;
    align-items: center;
    border: 0.25rem solid #fff;
    border-radius: 50%;
    color: #fff;
    background-color: rebeccapurple;
}

.image {
    max-width: 100%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0.25rem;
}

.card-title-desc {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    color: #653399;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
}

.price-tag {
    color: green;
}

.star-rating {
    color: #f7b944;
}
